.menu {
    display: flex;
    background-color: white;
    padding: 10px;
border: 2px solid black;
height: 80px;

}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu li {
    display: table-cell;
    padding: 15px 0;
    position: relative;
}

a{
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 15px 20px;
    position: relative; 
}

.menu-01:hover::after{
    width: 100%;
    left: 0;
    background-color: #00fffc;
}

.logo {
    display: flex;
    width: 30%;
   
   background-image: url(imagens/neuro.png);
 } 

 .overlay-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}
