@charset "UTF-8";
@import url(fontes/Fortune.otf);
@import url(fontes/Samatha.otf);
@import url('https://fonts.googleapis.com/css2?family=Corben&family=Montserrat:ital,wght@1,200&family=Sriracha&display=swap');

:root {
    --font1: 'Fortune', sans-serif, tahoma;
    --font2: 'Samatha', sans-serif, tahoma;
}

.box-total {
    display: flex;
    width: 100%;
    background: rgba(0, 0, 255, 0.048);
}

.box-01 {
    text-align: center;
    width: 1050px;
    margin-bottom: 50px;
    padding: 100px 0px;
}

.sobre-mim {
    width: 50%;
}

.sobre-mim-titulo {
    font-family: var(--font1); 
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.jornada {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    color: #333;
    text-align: center;
    padding: 75px;
}

.meu-destaque {
    -webkit-box-align: start;
    align-items: start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    gap: 38px;
}
.meu-texto {

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    gap: 72px;

}